In [1]:
# pip install ipython-sql
# pip install pymysql
%load_ext sql

In [2]:
%%sql
mysql+pymysql://root:root@localhost/mysql

'Connected: root@mysql'

In [3]:
%%sql
drop database dbtwitter;
create database dbtwitter;
show databases;

 * mysql+pymysql://root:***@localhost/mysql
2 rows affected.
1 rows affected.
5 rows affected.

[('information_schema',),
 ('dbtwitter',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [4]:
%%sql
use dbtwitter;

 * mysql+pymysql://root:***@localhost/mysql
0 rows affected.

[]

In [5]:
%%sql 

CREATE TABLE IF NOT EXISTS usuario (
    `id` varchar(50) NOT NULL,
    `fechaCreacion` datetime NOT NULL,
    `nombre` varchar(160) NOT NULL,
    `tag` varchar(160) NOT NULL,
    `ubicacion` varchar(160) NOT NULL,
    `descripcion` varchar(160) NOT NULL,
    `followersCount` integer NOT NULL,
    `friendsCount` integer NOT NULL,
    `favouritesCount` integer NOT NULL,
    PRIMARY KEY (`id`)
);

CREATE TABLE IF NOT EXISTS tweet (
    `id` varchar(50) NOT NULL,
    `idUsuario` varchar(50) NOT NULL,
    `fechaCreacion` datetime NOT NULL,
    `texto` varchar(280) NOT NULL,
    PRIMARY KEY (`id`),
    FOREIGN KEY (`idUsuario`) REFERENCES usuario(`id`) ON UPDATE
    CASCADE ON DELETE CASCADE
);

 * mysql+pymysql://root:***@localhost/mysql
0 rows affected.
0 rows affected.

[]

In [6]:
%%sql 

SELECT * FROM dbtwitter.usuario;

 * mysql+pymysql://root:***@localhost/mysql
0 rows affected.

[]

In [7]:
%%sql 

SELECT * FROM dbtwitter.tweet;

 * mysql+pymysql://root:***@localhost/mysql
0 rows affected.

[]